header {
    height: 250px;
    background-color: var(--primary-color);
    color: white;
}

header .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

header #logo img {
    height: 20px;
}

#header-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

#header-top-left,
#header-top-right {
    display: flex;
    align-items: center;
    gap: 30px;
}

#header-top-left span {
    font-weight: 700;
}

.chat-profile {
    display: flex;
    align-items: center;
}

#profile-image {
    width: 37px;
    height: auto;
}

#language {
    display: flex;
}

#language * {
    border: 1px solid #007168;
    padding: 7px 10px;
}

#sinhala {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

#tamil {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.chat-profile {
    gap: 5px;
}

#language div,
.chat-profile span {
    font-size: calc(1rem - 2px);
}

#header-top-right a {
    text-decoration: none;
    color: #673500;
    font-weight: 700;
    padding: 15px;
    background-color: var(--accent-color);
    border-radius: 4px;
}

header #header-lower {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

#location {
    display: flex;
    align-items: flex-start;
    padding: 5px 15px;
    background-color: #0071688a;
    border-radius: 20px;
    gap: 5px;
    padding-top: 10px;
}

#location .material-symbols-outlined {
    font-size: 1.4rem;
}

#search {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 15px;
    background-color: white;
    width: 800px;
    height: 58px;
    border-radius: 40px;
    gap: 30px;
}

#search input {
    left: 0;
    height: 30px;
    font-size: 16px;
    outline: none;
    border: none;
    width: calc(100% - 110px);
}

#search-icon {
    background-color: var(--accent-color);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 4px;
}

#search-icon .material-symbols-outlined {
    font-size: 2.7rem;
    color: #673500;
}

#sample-ad {
    width: 100%;
}

#browse-items {
    margin-top: 20px;
    margin-bottom: 25px;
}

.categories {
    display: flex;
    margin-bottom: 50px;
}

.category-block {
    display: flex;
    align-items: center;
    width: 25%;
}

.category-text {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    justify-content: space-around;

    height: 100%;
}

.category-name {
    font-size: calc(1rem + 2px);
}

.ads {
    font-size: calc(1rem - 2px);
    color: gray;
}

#promo-ad .container {
    display: flex;
}

.quick-promotion {
    width: 50%;
    display: flex;
    align-items: flex-start;
    gap: 25px;
    border: 1px solid #D4DED9;
    padding: 20px;
}

#post-ad-button {
    display: flex;
    align-items: center;
    padding: 10px 10px;
    background-color: var(--accent-color);
    color: #673500;
    gap: 10px;
    border-radius: 20px;
    margin-top: 15px;
    width: 190px;
}

#post-ad-button-text {
    font-weight: 700;
}

#post-ad-button .material-symbols-outlined {
    font-size: 1.3rem;
    padding-left: 5px;
}

#ikman-jobs-ad {
    padding-top: 30px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 13px;
}

#explore-button {
    display: flex;
    align-items: center;
    background-color: #0074BA;
    color: white;
    padding: 10px 15px;
    border-radius: 20px;
    gap: 10px;
    
}

#explore-button-text {
    font-weight: 700;
}

#explore-button .material-symbols-outlined {
    font-size: 1.3rem;
    
}

.category-boxes {
    display: flex;
    gap: 10px;
}

.category-links {
    width: 25%;
    background-color: var(--surface-container-color);
    padding: 10px;
    line-height: 1.5rem;
    border-radius: 3px;
}

.category-links a {
    text-decoration: none;
    color: #2F3432;
}

#about .container{
    color: #707676;
    margin-bottom: 15px;
}

footer {
    border-top: 2px solid var(--primary-color);
}

#footer-upper {
    display: flex;
    width: 100%;
}

#footer-upper #first-div {
    width: 30%;
}

#footer-upper #second-div {
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.mobile-platforms img {
    width: 120px;
}

.facebook-link {
    display: flex;
    align-items: center;
    gap: 5px;
}

.facebook-link img {
    width: 20px;
}

.facebook-link span {
    font-weight: 700;
    color: #38569E;
}

#first-div a {
    text-decoration: none;
    color: #0074BA;
}

#second-div div ul li {
    margin-bottom: 10px;
}

#second-div div ul li a {
    text-decoration: none;
    color: #0074BA;
}

#footer-upper {
    border-bottom: 1px solid #D4DED9;
    padding-bottom: 15px;
}

#footer-lower {
    padding: 20px 0 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#footer-lower img {
    height: 25px;
}

#watermark {
    position: fixed;
    font-size: 2.5rem;
    color: #e9e9e9;
    font-weight: 700;
    right: 15px;
    bottom: 250px;
}